.App-header {
  background-color: #282c34;
  min-height: 64px;
  height: 10%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#app-body {
  height: calc(100% - 106px)
}

#app-dashboard {
  height: 100%;
}

#app-map {
  height: 100%;
}